<div *ngIf="challenges?.length" class="row">
  <div *ngFor="let challenge of challenges" class="col-12">

    <mat-card class="example-card mt-2">
      <mat-card-header>
        <mat-card-title>{{challenge.date | date:"dd/MM/yyyy - HH:mm"}}</mat-card-title>
        <mat-card-subtitle>{{challenge.team1.teamName}} - {{challenge.team1.companyName}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-12 text-center font-weight-bold">{{challenge.type}}</div>
          <div class="col-12 col-lg-6">
            {{challenge.table.tableName}}
          </div>
          <div class="col-12 col-lg-6 text-lg-right">
            {{challenge.table.address}}
          </div>
          <div class="col-12 text-center">
            <button mat-button color="primary" (click)="participateGame(challenge.gameID)" class="">Deelnemen</button>
          </div>
        </div>
      </mat-card-content>

    </mat-card>
  </div>
</div>

<div *ngIf="!challenges?.length" class="row">
  <div class="col-12">Uw team heeft geen openstaande challenges</div>
</div>
