<div class="card">
  <div class="card-body">
    <h2 *ngIf="competition" class="card-title">{{competition.name}}</h2>
    <h2 *ngIf="!competition" class="card-title">{{vriendschappelijk}}</h2>

    <h3 *ngIf="game" class="card-subtitle">{{game.date | date:"dd LLL yyyy - HH:mm"}}</h3>
    <div class="row card-text">
      <div *ngIf="team1" class="col text-center">
        <div class="row justify-content-center">
          {{team1.teamName}}
        </div>
        <div class="row justify-content-center">
          <span *ngIf="!team1Picture" class="material-icons" style="font-size: 60px;">
            stars
          </span>
          <img *ngIf="team1Picture" [src]="team1Picture" alt="team1Picture" style="max-width: 40%;">
        </div>

      </div>
      <div class="col centerV">
        <p class="dash">-</p>
      </div>
      <div *ngIf="team2" class="col">
        <div class="row justify-content-center">
          {{team2.teamName}}
        </div>
        <div class="row justify-content-center">
          <span *ngIf="!team2Picture" class="material-icons" style="font-size: 60px;">
            stars
          </span>
          <img *ngIf="team2Picture" [src]="team2Picture" alt="team2Picture" style="max-width: 40%;">
        </div>
      </div>
    </div>
    <div *ngIf="next" class="pt-3">
      <a *ngIf="!bezig" class="card-link btn btn-success" (click)="goLive(game.gameID)">Start wedstrijd</a>
      <a *ngIf="bezig" class="card-link btn btn-success" (click)="goBackLive(game.gameID)">Ga terug naar wedstrijd</a>
    </div>
    <div *ngIf="userParticipateGame && !next" class="text-center">
        <button mat-icon-button color="warn" matTooltip="Verwijder deelname" (click)="deleteParticipation()"
          [disabled]="passed">
          <mat-icon>person_remove</mat-icon>
        </button>
      </div>
  </div>

  <div *ngIf="game?.type=='1vs1'&&game.userGames?.length!=2" class="pt-1 text-center">
    <p class="text-danger">Let op: te weining spelers!</p>
  </div>
  <div *ngIf="game?.type=='2vs2'&&game.userGames?.length!=4" class="pt-1 text-center">
    <p class="text-danger">Let op: te weining spelers!</p>
  </div>

</div>
