<mat-toolbar color="primary">

  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div>
    <a fxHide.xs class="align-middle" routerLink="/" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">Home</a>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">

      <!-- Registreren -->
      <li *ngIf="!loggedIn"><a class="align-middle text-danger" routerLink="/registreren" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Registreren</a></li>

      <!-- Aanmelden -->
      <li *ngIf="!loggedIn" class="ml-3"><a class="align-middle" routerLink="/aanmelden" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Aanmelden</a></li>

      <li *ngIf="loggedIn">

        <!-- Wedstrijden -->
        <a class="mr-2" routerLink="/wedstrijden" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Wedstrijden</a>

          <!-- Rabnking -->
        <a class="mr-2" routerLink="/ranking" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Ranking</a>

        <!-- Teams -->
        <a class="mr-2" routerLink="/teams" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Teams</a>

        <!-- Users -->
        <a class="mr-2" routerLink="/users" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Users</a>

        <!-- <a class="profile-menu" [matMenuTriggerFor]="menu">
              {{username}}<mat-icon>more_vert</mat-icon>
            </a> -->
        <a class="profile-menu" [matMenuTriggerFor]="menu">Menu<mat-icon>more_vert</mat-icon></a>

        <mat-menu #menu="matMenu">
          <a class="profile-menu-item" mat-menu-item routerLink="/profile" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon>account_circle</mat-icon>
            <span>Profiel</span>
        </a>

          <hr>
          <!-- Logout -->
          <a class="profile-menu-item" mat-menu-item (click)="logout()">
            <mat-icon id="logout" color="warn">power_settings_new</mat-icon>
            <span>Afmelden</span>
          </a>
        </mat-menu>
      </li>
    </ul>
  </div>
</mat-toolbar>
