a,
button {
  text-decoration: none;
  color: white;
  background-color: inherit;

  &:hover,
  &:active {
    color: pink;
  }

  // mat-icon {
  //   border: 1px solid red;
  //   display: inline-flex;
  //   vertical-align: middle;
  // }

}

.aligned-with-icon {
  position: absolute;
  margin-top: 3px;
  // margin-left: 5px; /* optional */
}

mat-icon {
  // border: 1px solid red;
  // display: inline-flex;
  vertical-align: middle;
}

button {
  color: white;
  background-color: inherit;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  border-radius: 3px;
}

@media(max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}

.profile-menu-item {
  &:hover {
    color: black;
    font-weight: 500;

    #likes,
    #logout {
      color: red;
      font-weight: bold;
    }
  }

  color: black;
  background-color: inherit;
}

.profile-menu:hover {
  cursor: pointer;
}
