<div class="container">
    <div class="row">
        <div class="col col-md-12" style="text-align: center;">
            <h1>Update team</h1>
            <form #updateTeam="ngForm" (ngSubmit)="onSubmitUpdateTeam()" *ngIf="team">
                <p>
                    <mat-form-field>
                        <input matInput type="text" [(ngModel)]='team["teamName"]' placeholder="teamname" name="teamname" required/>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input matInput type="text" [(ngModel)]='team["companyName"]' placeholder="companyname" name="companyname" required/>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input matInput type="text" [(ngModel)]='team["address"]' placeholder="address" name="address" required/>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input matInput type="text" [(ngModel)]='team["photo"]' placeholder="photo" name="photo" required/>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Captain</mat-label>
                        <mat-select name="user" [(ngModel)]='team["captainID"]' required>
                            <mat-option *ngFor="let user of lijstUsersTeam" [value]='user["userID"]'>
                                {{user["firstName"]}} {{user["lastName"]}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
                <button mat-raised-button color="primary" type="submit" [disabled]="!updateTeam.form.valid || submitted">Save</button>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col" style="text-align: right;">
            <button mat-raised-button color="accent" (click)="backToTeams()">Back to teams</button>
        </div>
    </div>
</div>
