<div class="container">
    <div *ngIf="competition">
        <h1 class="text-center">Wedstrijd uit: {{competition.name}}</h1>
    </div>
    <div *ngIf="!competition"> 
        <h1 class="text-center">Vriendschappelijke wedstrijd</h1>
    </div>
   

    <div *ngIf="chosengame" class="row justify-content-center">
        <div class="col-lg-4 col-sm-4 justify-content-center">
            <h3 class="text-center">{{chosengame.team1.teamName}}</h3>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <div class="row justify-content-center">
                        <span *ngIf="!team1Picture" class="material-icons" style="font-size: 100px;">
                            stars
                          </span>
                          <img *ngIf="team1Picture" src="team1Picture" alt="team1Picture">
                    </div>
                </div>
                <div class="col-lg-8 col-sm-8 centerV">
                    <div class="row ">
                        <ul style="list-style-type: none;">
                            <li *ngFor="let usergame of spelersTeam1">{{usergame.player.firstName}} {{usergame.player.lastName}}</li>
                           
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="row justify-content-center pt-5 pb-5">
                <button class="btn btn-success" (click)="scoreGoal(1)" [disabled]="!disabled">GOAL</button>
            </div>
        </div>  
        <div class="col-lg-1 col-sm-1 centerV">
            <p class="dash">{{chosengame.scoreTeam1}}</p>
        </div>
        <div class="col-lg-1 col-sm-1 centerV">
            <p class="dash">-</p>
        </div>
        <div class="col-lg-1 col-sm-1 centerV">
            <p class="dash">{{chosengame.scoreTeam2}}</p>
        </div>

        <div class="col-lg-4 col-sm-4 justify-content-center">
            <h3 class="text-center">{{chosengame.team2.teamName}}</h3>
            <hr>
            <div class="row">
                <div class="col-lg-8 centerV">
                    <div class="row ">
                        <ul style="list-style-type: none;">
                            <li *ngFor="let usergame of spelersTeam2">{{usergame.player.firstName}} {{usergame.player.lastName}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row justify-content-center">
                        <span *ngIf="!team2Picture" class="material-icons" style="font-size: 100px;">
                            stars
                          </span>
                          <img *ngIf="team2Picture" src="team2Picture" alt="team2Picture">
                    </div>
                </div>
            </div>

            <div class="row justify-content-center pt-5">
                <button class="btn btn-success" (click)="scoreGoal(2)" [disabled]="!disabled">GOAL</button>
            </div>
        </div>

    </div>
    <div class="row justify-content-center">
        <button class="btn btn-danger m-5" (click)="validateGame()" [disabled]="disabled">Einde wedstrijd</button> <button class="btn btn-warning m-5" (click)="sendToModerator()">Vraag om een moderator</button>
    </div>
</div>

