<div class="row">
    <div class="col-12">
        <h1>Eerstvolgende wedstrijd:</h1>
    </div>
    <div class="col-12 text-center">
        <div class="border border-info">Ik ben eerst volgende wedstrijd</div>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <button mat-raised-button color="accent">Team uitdagen</button>
    </div>
    <div class="col-12">
        <app-challenge-team></app-challenge-team>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>Gespeelde wedstrijden:</h2>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 text-center mt-2">
        <div class="border border-info">Ik ben eerst volgende wedstrijd</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 text-center mt-2">
        <div class="border border-info">Ik ben eerst volgende wedstrijd</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 text-center mt-2">
        <div class="border border-info">Ik ben eerst volgende wedstrijd</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 text-center mt-2">
        <div class="border border-info">Ik ben eerst volgende wedstrijd</div>
    </div>
</div>