<div class="row">
  <div class="col-12 text-center">
    <h1>Registreren</h1>
    <!-- <p>User: {{newUser|json}}</p> -->
  </div>
</div>

<form #signupForm="ngForm" (ngSubmit)="onSubmit()" class="row text-center">

  <!-- First name -->
  <div class="col-10 offset-1">
    <mat-form-field>
      <input matInput placeholder="Firstname" type="text" required minlength="2" name="firstName" />
      <!--[(ngModel)]="" -->
    </mat-form-field>
  </div>

  <!-- Last name -->
  <div class="col-10 offset-1">
    <mat-form-field>
      <input matInput placeholder="Lastname" type="text" required minlength="2" name="lastName" />
    </mat-form-field>
  </div>

  <!-- E-mail -->
  <div class="col-10 offset-1">
    <mat-form-field>
      <input matInput placeholder="E-mail" type="email" required minlength="2" name="email" />
    </mat-form-field>
  </div>

  <!-- Username -->
  <div class="col-10 offset-1">
    <mat-form-field>
      <input matInput placeholder="Username" type="text" required minlength="2" name="username" />
    </mat-form-field>
  </div>

  <!-- Password -->
  <div class="col-10 offset-1">
    <mat-form-field>
      <input matInput placeholder="Password" type="password" required name="password" #passwordcontrol/>
    </mat-form-field>
  </div>

  <!-- Submit -->
  <div class="col-10 offset-1">
    <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.form.valid || submitted">Registreer</button>
    <div class="text-muted mt-2">Al een account?<a [routerLink]="['/aanmelden']">Meld je nu aan!</a></div>
  </div>

</form>
