<div class="container">
    
    <div *ngIf="!noGames">
        <h1 class="text-center">Live Wedstrijden</h1>
        <div *ngFor="let game of livegames" class="d-inline-flex m-4">
            <div class="card" style="width: 490px;">
                <div class="card-body">
                    <h2 class="card-title">{{game.competitionName}}</h2>
                    <h3 *ngIf="game" class="card-subtitle">{{game.date | date:"dd LLL yyyy - HH:mm"}}</h3>
                    <div class="row card-text">
                        <div *ngIf="game.team1" class="col text-center">
                            <div class="row justify-content-center">
                                {{game.team1.teamName}}
                            </div>
                            <div class="row justify-content-center">
                                <span *ngIf="!game.team1Picture" class="material-icons" style="font-size: 60px;">
                                    stars
                                </span>
                                <img *ngIf="game.team1Picture" src="game.team1Picture" alt="team1Picture">
                            </div>

                        </div>
                        <div class="col-lg-1 col-sm-1 centerV">
                            <p class="dash">{{game.scoreTeam1}}</p>
                        </div>
                        <div class="col-lg-1 col-sm-1 centerV">
                            <p class="dash">-</p>
                        </div>
                        <div class="col-lg-1 col-sm-1 centerV">
                            <p class="dash">{{game.scoreTeam2}}</p>
                        </div>
                        <div *ngIf="game.team2" class="col">
                            <div class="row justify-content-center">
                                {{game.team2.teamName}}
                            </div>
                            <div class="row justify-content-center">
                                <span *ngIf="!game.team2Picture" class="material-icons" style="font-size: 60px;">
                                    stars
                                </span>
                                <img *ngIf="game.team2Picture" src="game.team1Picture" alt="team1Picture">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="noGames">
        <h1 class="text-center">Geen live wedstrijden</h1>
        <h2 class="text-center">Het lijkt erop dat er momenteel geen wedstrijden bezig zijn!</h2>
    </div>
</div>