<div class="container">
    <div class="row">
        <div class="col col-md-6" style="text-align: center;">
            <h1>Create team</h1>
            <form #createTeamForm="ngForm" (ngSubmit)="onSubmitCreateTeam()" enctype="multipart/form-data">
                <p>
                    <mat-form-field>
                        <input matInput type="text" [(ngModel)]='newTeam["teamName"]' placeholder="teamname" name="teamname" required/>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input matInput type="text" [(ngModel)]='newTeam["companyName"]' placeholder="companyname" name="companyname" required/>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input matInput type="text" [(ngModel)]='newTeam["address"]' placeholder="address" name="address" required/>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label>Captain</mat-label>
                        <mat-select name="captain" [(ngModel)]='selectedUser' required>
                            <mat-option [value]='0'>Geen kapitein of geen users zonder team</mat-option>
                            <mat-option *ngFor="let user of lijstUsers" [value]='user'>
                                {{user["firstName"]}} {{user["lastName"]}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                </p>
                <button mat-raised-button color="primary" type="submit" [disabled]="!createTeamForm.form.valid || submittedNew">Save</button>
            </form>
            
        </div>
        <div class="col-md-4" style="text-align: center;">
            <form class="form" enctype="multipart/form-data" >
                <dropzone class="dropzone-container" [message]="'Click or drag a photo to upload'" [config]="config" (error)="onUploadError($event)" style="height:auto;width:auto;"></dropzone>
            </form>
            <button class="button btn btn-danger" (click)="removeFiles()" style="margin: 2px;">Remove files</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col" style="text-align: right;">
            <button mat-raised-button color="accent" (click)="backToTeams()">Back to teams</button>
        </div>
    </div>
</div>