<div class="container">
    <div class="row">
        <div class="col col-md-12" style="text-align: center;">
            <h1>Create user</h1>
            <form #createUserForm="ngForm" (ngSubmit)="onSubmitCreateUser()">
                <p>
                    <mat-form-field>
                        <input matInput type="text" [(ngModel)]='newUser["firstName"]' placeholder="first name" name="firstname" required/>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input matInput type="text" [(ngModel)]='newUser["lastName"]' placeholder="last name" name="lastname" required/>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input matInput type="text" [(ngModel)]='newUser["email"]' placeholder="email" name="email" required/>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input matInput type="text" [(ngModel)]='newUser["password"]' placeholder="password" name="password" required/>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input matInput type="date" [(ngModel)]='newUser["dateOfBirth"]' [ngModel]='newUser["dateOfBirth"] | date:"yyyy-MM-dd"' placeholder="date of birth" name="dateofbirth" required/>
                    </mat-form-field>
                </p>
                <button mat-raised-button color="primary" type="submit" [disabled]="!createUserForm.form.valid || submittedNew">Save</button>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col" style="text-align: right;">
            <button mat-raised-button color="accent" (click)="backToUsers()">Back to users</button>
        </div>
    </div>
</div>