<mat-horizontal-stepper [linear]="true" #stepper>

  <!-- Team -->
  <mat-step [stepControl]="teamFormGroup" [editable]="isEditable">
    <form [formGroup]="teamFormGroup" class="">
      <ng-template matStepLabel>Ploeg</ng-template>
      <label id="team-label">Selecteer welke ploeg je wilt uitdagen:</label> <br>
      <mat-selection-list #teamsForm [multiple]="false" required formControlName="team">
        <mat-list-option aria-labelledby="team-label" *ngFor="let team of teams" class="border d-block"
          [value]="team.teamID">
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>image</mat-icon>
              <div mat-line>{{team.teamName}} - <span class="text-muted">{{team.companyName}}</span></div>
              <div mat-line>
                <mat-icon>location_on</mat-icon> {{team.address}}
              </div>
              <div mat-line class="text-danger">
                <mat-icon>military_tech</mat-icon>Captain name
              </div>
            </mat-list-item>
          </mat-list>
        </mat-list-option>
      </mat-selection-list>
      <div>
        <button color="accent" class="float-right" mat-button matStepperNext>Volgende</button>
      </div>
    </form>
  </mat-step>

  <!-- Tijdstip -->
  <mat-step [stepControl]="timeFormGroup" [editable]="isEditable">
    <form [formGroup]="timeFormGroup" class="text-center">
      <ng-template matStepLabel>Tijdstip</ng-template>
      <div class="mt-2 mt-lg-4">
        <mat-form-field appearance="fill">
          <mat-label>Kies een datum</mat-label>
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" required formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Kies een tijd</mat-label>
          <input matInput type="time" required min="06:00" max="23:59" [ngxTimepicker]="fullTime" [format]="24"
            formControlName="time">
          <!-- <mat-icon matSuffix [ngxTimepicker]="fullTime">schedule</mat-icon> -->
          <ngx-material-timepicker #fullTime></ngx-material-timepicker>
        </mat-form-field>

      </div>
      <div>
        <button mat-button color="accent" class="float-left" (click)="goBack(stepper)" matStepperPrevious>Terug</button>
        <button color="accent" class="float-md-right" mat-button matStepperNext>Volgende</button>
      </div>
    </form>
  </mat-step>

  <!-- Locatie -->
  <mat-step [stepControl]="locationFormGroup" [editable]="isEditable">
    <form [formGroup]="locationFormGroup" class="">
      <ng-template matStepLabel>Locatie</ng-template>
      <mat-selection-list #locationForm [multiple]="false" formControlName="table" required>
        <label id="team-label">Selecteer op welke tafel je de wedstijd wilt spelen:</label> <br>
        <mat-list-option *ngFor="let table of tables" class="border d-block" [value]="table.tableID">
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon>image</mat-icon>
              <div mat-line>{{table.tableName}} - <span class="text-muted">{{table.companyName}}</span></div>
              <div mat-line>
                <mat-icon>location_on</mat-icon> {{table.address}}
              </div>
              <div mat-line>
                <mat-icon>engineering</mat-icon> {{table.manager.firstName}} {{table.manager.lastName}}
              </div>
            </mat-list-item>
          </mat-list>
        </mat-list-option>
      </mat-selection-list>
      <div>
        <button mat-button color="accent" class="float-left" (click)="goBack(stepper)" matStepperPrevious>Terug</button>
        <button color="accent" class="float-right" mat-button matStepperNext>Volgende</button>
      </div>
    </form>
  </mat-step>

  <!-- Spelers -->
  <mat-step [stepControl]="playerFormGroup" [editable]="isEditable">
    <form [formGroup]="playerFormGroup" class="text-center">
      <ng-template matStepLabel>Spelers</ng-template>

      <label id="type-game-label">Welk type wedstrijd wil je spelen:</label> <br>
      <mat-radio-group aria-labelledby="type-game-label" formControlName="type" [disabled]="gameType ? true : false">
        <mat-radio-button value="1vs1" (change)="changeType($event)">1 VS 1</mat-radio-button> <br>
        <mat-radio-button value="2vs2" (change)="changeType($event)">2 VS 2</mat-radio-button>
      </mat-radio-group>
      <br>
      <button *ngIf="gameType" mat-stroke-button color="warn"
        (click)="playerFormGroup.reset();clearRadioButtons()">Reset keuzes</button>

      <hr>
      <div *ngIf="gameType">
        <mat-selection-list #playersForm
          [disabled]="gameType=='1vs1' ? playersForm.selectedOptions.selected[0]?.value : playersForm.selectedOptions.selected[1]?.value "
          [multiple]="true" formControlName="player" required>

          <mat-list-option *ngFor="let player of players" class="border d-block" [value]="player.userID">
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon>image</mat-icon>
                <div mat-line class="font-weight-bold">{{player.firstName}} {{player.lastName}}</div>
                <div mat-line>
                  <mat-icon>today</mat-icon> {{player.dateOfBirth|date:"dd/MM/yyyy"}}
                </div>
                <!-- <div mat-line>
                <mat-icon>engineering</mat-icon> {{table.manager.firstName}} {{table.manager.lastName}}
              </div> -->
              </mat-list-item>
            </mat-list>
          </mat-list-option>
        </mat-selection-list>

      </div>

      <div>
        <button mat-button color="accent" class="float-left" (click)="goBack(stepper)" matStepperPrevious>Terug</button>
        <button mat-raised-button color="primary" class="float-md-right" (click)="challenge()">Challenge</button>
        <button mat-stroked-button class="float-md-right mr-2" color="warn" (click)="stepper.reset()">Annuleer</button>
      </div>
    </form>
  </mat-step>

  <!-- Check / Challenge -->
  <!-- <mat-step [editable]="isEditable">
    <ng-template matStepLabel>CHALLENGE</ng-template>
    <p>Deze wedstrijd zal door u aangemaakt worden:</p>
    <ul>
      <li>
        Gekozen ploeg: {{teamsForm.selectedOptions.selected[0]?.value}}
      </li>
    </ul>
    <div>
      <button mat-stroked-button color="primary" matStepperPrevious>Terug</button>
      <button mat-raised-button color="primary" class="float-md-right" (click)="challenge()">Challenge</button>
      <button mat-stroked-button class="float-md-right mr-2" color="warn" (click)="stepper.reset()">Annuleer</button>
    </div>
  </mat-step> -->

</mat-horizontal-stepper>
