<div class="row">

  <!-- Title -->
  <div class="col-12">
    <h1 mat-dialog-title>Je heb deze wedstrijd aangemaakt:</h1>
  </div>

  <!-- Game -->
  <mat-dialog-content>
    <div mat-dialog-content class="col-12 content d-inline text-center">
      <app-game-card [competitionid]="" [gameid]="game.gameID" [team1id]="game.team1.teamID"
        [team2id]="game.team2.teamID" [next]="false"></app-game-card>
    </div>
    <!-- </div> -->
  </mat-dialog-content>

  <!-- Actions -->
  <div id="actions" class="col-12">
    <mat-dialog-actions align="center">
      <button mat-button mat-raised-button color="warn" mat-dialog-close mat-dialog-close="undo">Ongedaan maken</button>
      <button mat-button mat-raised-button color="primary" mat-dialog-close mat-dialog-close>OK</button>
    </mat-dialog-actions>
  </div>

</div>
