a {
  text-decoration: none;


  &:hover,
  &:active {
    font-weight: bold;

    #ranking {
      color: goldenrod;
    }

    #logout {
      color: red;
      font-weight: bold;
    }

  }
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}
