<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img src="../../../assets/tableFootball2.jpg" alt="tableFootball" class="img-fluid">
            <h1>Welkom!</h1>
            <p>Welkom op de startpagina. Hieronder vindt u enkele handige snelkoppelingen.</p>
            <div class="row">
                <div class="col">
                    <div class="card h-100" >
                        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                        <div class="card-body">
                            <h2 class="card-title">Rangschikking competitie</h2>
                            <p class="card-text">Hier vindt u de huidige rangschikking van uw team.</p>
                            <button mat-raised-button color="primary">Volledige rangschikking</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                        <div class="card-body">
                            <h2 class="card-title">Eerstvolgende wedstrijd</h2>
                            <p class="card-text">Hier kan u de eerstvolgende wedstrijd dat u moet spelen vinden.</p>
                            <button mat-raised-button color="primary">Alle wedstrijden</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100" >
                        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                        <div class="card-body">
                            <h2 class="card-title">Vriendschappelijke wedstrijd</h2>
                            <p class="card-text">Hier kan u een vriendschappelijke wedstrijd starten door een ander team uit te dagen.</p>
                            <button mat-raised-button color="primary">Uitdagen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>