<div class="container">
    <h1 class="text-center">Ranking <span *ngIf="competition" class="font-weight-bold">{{competition.name}}</span></h1>
    <div class="text-right mb-2">
        <button mat-raised-button color="accent" class="mr-3" (click)="makeGames(competition)">Maak competitiewedstrijden</button>
        <button mat-raised-button color="primary" (click)="onAdd(competition)">+ Team toevoegen</button>
    </div>
    <table *ngIf="rankings" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Club</th>
                <th scope="col" class="text-right">Punten</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let r of rankings">
                <tr>
                    <td>{{r.rank}}</td>
                    <ng-container *ngFor="let t of teams">
                        <td *ngIf="t.teamID == r.teamID">
                            <span id="team">{{t.teamName}}</span>
                        </td>
                    </ng-container>
                    <td class="text-right">{{r.points}}</td>
                </tr>
            </ng-container>

        </tbody>
    </table>
    <div *ngFor="let g of games">
        <p>{{g.team1ID}} speelt tegen {{g.team2ID}}</p>
    </div>
</div>